#### Find the least budgeted movie in IMDB Movie Database.
#### If there is more than one least budgeted movies then print the movie which has maximum net profit.
#### Note: Net Profit= Total Earning(Domestic+WorldWide earning) - budget
#### Output Format:
#### movie_name

In [53]:
import pandas as pd 
import sqlite3

db = sqlite3.connect('IMDB.sqlite') 
cur = db.cursor()
imdb = pd.read_sql_query("Select * from IMDB",db) 
earn = pd.read_sql_query("Select * from earning",db) 
total = earn['Domestic'] + earn['Worldwide']

imdb['Budget'].replace('','50000000000000000000000000',inplace=True) 
def getBud(bud):
    return float(bud) 

imdb['Budget']=imdb['Budget'].apply(getBud) 
imdb['Budget'] 
bud = cur.execute('select Movie_id,Budget from IMDB order by Budget asc ')

imdb['profit'] = total + imdb['Budget']

min_bud = min(imdb['Budget'])
print(min_bud) 
cnt = 0 
if min_bud in imdb["Budget"]: 
    cnt += 1 
print(cnt)

bud = pd.read_sql_query('select count(Budget),Budget from IMDB group by budget order by Budget asc ',db) 
print(bud)
print(bud.loc[0])

1000000.0
0
    count(Budget)       Budget
0               2    1000000.0
1               1    1600000.0
2               1    2500000.0
3               1    3000000.0
4               1    3300000.0
..            ...          ...
59              1  225000000.0
60              1  245000000.0
61              3  250000000.0
62              1  260000000.0
63              3

[64 rows x 2 columns]
count(Budget)            2
Budget           1000000.0
Name: 0, dtype: object

In [2]:
import pandas as pd 
import sqlite3

db = sqlite3.connect('IMDB.sqlite') 
cur = db.cursor()
imdb = pd.read_sql_query("Select * from IMDB",db) 
earn = pd.read_sql_query("Select * from earning",db) 
total = earn['Domestic'] + earn['Worldwide']

imdb['Budget'].replace('','50000000000000000000000000',inplace=True) 

def getBud(bud):
    return float(bud) 

imdb['Budget']=imdb['Budget'].apply(getBud) 
print(imdb['Budget'])
bud = cur.execute('select Movie_id,Budget from IMDB order by Budget asc ')

imdb['profit'] = total + imdb['Budget']

min_bud = min(imdb['Budget'])

data = imdb[imdb['Budget'] == min_bud]
max_pro = max(data['profit'])

ans = imdb[imdb['profit'] == max_pro]

print(ans['Title'].values[0])

0       20000000.0
1       18000000.0
2        8000000.0
3       12000000.0
4        8900000.0
          ...
112      3300000.0
113    165000000.0
114    200000000.0
115    160000000.0
116    150000000.0
Name: Budget, Length: 117, dtype: float64
Short Term 12Â (2013)