#### Find the movie which has genre of 'Sci-Fi' and 'Mystery' and movie rating is greater or equal to 8 from IMDB Movie Database.
#### Print the movie name.
#### Movies has multiple genre.
#### Output Format:
#### movie_name

In [56]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

db = sqlite3.connect('IMDB.sqlite')
cur = db.cursor()
imdb = pd.read_sql_query('select * from IMDB',db)
earning = pd.read_sql_query('select * from earning',db)
genre = pd.read_sql_query('select * from genre ',db)

df = pd.read_sql_query('select genre.genre, genre.movie_id, earning.Domestic, earning.Worldwide,imdb.Title from genre join earning on genre.Movie_id = earning.Movie_id join imdb on imdb.Movie_id = earning.Movie_id where IMDB.Rating >= 8',db)
df.drop(df.loc[df.genre == ''].index,inplace=True)
SF = df[(df['genre'] == "Sci-Fi")] 
M = df[df['genre'] == 'Mystery']
print(SF['Movie_id'] , M['Movie_id'])

SF_id = np.array(SF['Movie_id'])
M_id = np.array(M['Movie_id'])
print(SF_id , M_id)
for i in SF_id:
    if i in M_id:
        cur.execute('select Title from IMDB where Movie_id=?',(i,))
        print(cur.fetchall())
        break

5      31722
23     11289
29     21768
35     46824
41     46900
50     36478
74     10454
92     24887
113    27783
Name: Movie_id, dtype: object 4     31722
20    13277
53    37979
61    36011
Name: Movie_id, dtype: object
['31722' '11289' '21768' '46824' '46900' '36478' '10454' '24887' '27783'] ['31722' '13277' '37979' '36011']
[('Arrival\xa0(2016)',)]